* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    float: left;
    width: 20vw;
    height: 80vh;
    background-color: green;
    overflow: auto;
}

section {
    height: 80vh;
    text-align: center;
    overflow: visible;
}

footer {
    clear: both;
    height: 20vh;
    background-color: blue;
    text-align: center;
}

.controls-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 250ms;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.controls-button:hover {
    width: 54px;
    height: 54px;
    filter: invert(75%);
    -webkit-filter: invert(75%);
}

.row-button {
    width: 28px;
    height: 28px;
    opacity: 0;
    transition: 100ms;
    cursor: pointer;
}

.row-button:hover {
    width: 30px;
    height: 30px;
}

#section-album {
    height: 50%;
    overflow: auto;
}

#songs {
    width: 100%;
    border-collapse: collapse;
    overflow: visible;
}

#songs tr:hover {
    background-color: lightgrey;
}

#songs tr:hover .row-button {
    opacity: 1;
}

.selected-row {
    border: 1px solid blue;
}

#playlist tr:hover:not(:first-child) {
    background-color: lightgrey;
}

#playlist tr:hover .row-button {
    opacity: 1;
}

#covers img {
    width: 100%;
    height: 19vw;
    margin: 0;
    float: left;
    cursor: pointer;
}

#title {
    margin-bottom: 20px;
}

#controls {
    color: white;
}

#selected-name {
    float: left;
    margin-left: 25px;
    width: 30vw;
    margin-top: 16px;
    overflow: hidden;
}

#control-buttons {
    float: left;
    width: 40vw;
    text-align: center;
}

#time-info {
    float: left;
    width: 24vw;
    margin-top: 16px;
}

#progress-bar {
    position: relative;
    width: 50vw;
    height: 10px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    top: 5px;
    cursor: pointer;
}

#progress {
    position: absolute;
    height: 100%;
    width: 0;
    background-color: green;
    z-index: 1;
}

#section-playlist {
    height: 50%;
    overflow: auto;
}

#playlist {
    width: 100%;
    border-collapse: collapse;
    overflow: visible;
}

#playlist th:first-child {
    width: 24px;
}

#visualizer {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.circle {
    position: absolute;
    background-color: white;
    border: 3px solid green;
    border-radius: 100%;
}

.freq {
    position: absolute;
    background-color: cyan;
    bottom: 0;
    z-index: 3;
    transform-origin: top center;
    border-radius: 0 0 5% 5%;
}